@import "./common.scss";

#banner {
  width: 970px;
  height: 250px;
}

#olg {
  // border: 1px solid red;
  width: 146px;
  height: 81px;
  @include pos(-2, 177);
  // opacity: .5 !important;
}

#legalBtn {
  @include pos(888, 0);
  width: 140px;
  height: 50px;
  // opacity: 1 !important;
}
